$light-blue: #d2e7e2;
$spacing: 40px;
$section-text-color: #184d66;
$white-text-style1: #504949;
$white-text-style2: #c06d3a;
$link-color: #ea4446;
$font-sans: 'Merriweather Sans', sans-serif;

*
{
	margin: 0;
	padding: 0;
}

html
{
	font-size: 62.5%;
	@media(min-width: 0px) { font-size: 30%; }
	@media(min-width: 600px) { font-size: 50%; }
}

body
{
	background-color: $light-blue;
}

h1, h2, h3, h4, h5, h6, cite, q,
{
	font-style: normal;
	font-weight: normal;
}

a
{
	color: $link-color;
}

header 
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	text-align: center;
	max-width: 75%;

	img 
	{
		position: absolute;
		max-width: 20%;
	}

	h1
	{
		display: flex;
		flex-direction: column;
		margin-bottom: 8%;

		img 
		{
			clear: both;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			min-width: 75%;
		}
	}
}

.centered
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.section__header
{
	h2
	{
		color: $section-text-color;
		display: flex;
		flex-direction: column;
		font-size: 3.5rem;
		max-width: 65%;
		margin-left: auto;
		margin-right: auto;
		p
		{
			margin-top: 0.75em;
		}
	}
}

section
{
	width: 100%;
}

.section__explanation 
{
	// default
	color: $section-text-color;
	margin-left: auto;
	margin-right: auto;
	word-break: break-all;
	hyphens: auto;

	h2
	{
		font-size: 2.8rem;
		line-height: 1.4;
	}

	p
	{
		font-family: $font-sans;
		font-size: 1.8rem;
		text-align: left;
		line-height: 1.3;
	}

	.explanation__background
	{
		max-width: 30%;
	}

	.explanation__tags
	{
		position: relative;
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -60%;
		padding-bottom: 10%;
		font-family: $font-sans;
		font-size: 2.7rem;
		color: $white-text-style1;
		word-break: keep-all;
		h3
		{
			font-weight: 500;
		}
		section
		{
			margin-bottom: 50px;
			padding: 25px;
		}
		.explanation__tag--left
		{
			background-color: white;
			border-radius: 1000em 9999em 9999em 1000em;
			text-align: right;
		}
		.explanation__tag--right
		{
			background-color: white;
			border-radius: 9999em 1000em 1000em 9999em;
			text-align: left;
		}
	}

	&.explanation--white 
	{
		color: $white-text-style1;
		background-color: white;
		width: 100%;
		.explanation__wrapper1
		{
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			padding: 20px 70px;
			max-width: 80%;
		}
		.explanation__wrapper2
		{
			font-family: $font-sans;
			max-width: 56.25%;
			margin-left: 33%;
			display: flex;
			flex-direction: column;
			text-align: center;
			line-height: 1.3;
			padding-bottom: 20px;
			q
			{
				font-size: 1.8rem;
				color: $white-text-style2;
			}
			cite 
			{
				font-size: 1.4rem;
			}
		}
	}

	&.section--white {
		// white section version
	}
}

.pills--top-left
{
	left: 17%;
	top: -6%;
	max-width: 10%;
	transform: rotate(45deg);
}

.pills--top-right
{
	right: 3%;
	top: 0%;
	transform: rotate(13deg);
	max-width: 30%;
}

.pills--bottom-left
{
	top: 25vw;
	max-width: 15%;
	left: 2vw;
	transform: rotate(5deg);
}

.pills--bottom-right
{
	top: 35vw;
	right: 3vw;
	max-width: 15%;
}

.small-title
{
	font-family: $font-sans;
	font-size: 1.7rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #0e5254;
	letter-spacing: 2.8px;
}

.pillbottles
{
	min-width: 70%;
	max-width: 70%;
    position: relative;
    bottom: 130px;
    left: -42.6%;
	// left: -35vw;
	.pillbottle--left
	{
		// width: 30%;
	}
	.pillbottle--center
	{
		// position: relative;
		width: 30%;
		margin-top: 13%;
		margin-left: 10%;

	}
	.pillbottle--right
	{
		// position: relative;
		width: 12%;
		margin-top: 7%;
		margin-left: 20%;
	}
}



.section__explanation
{

}

@media (max-width: 399px)
{
	header
	{
		max-width: 100%;
	}

	.pillbottles
	{
		max-width: 100%;
		bottom: 135.6px;
		left: -67.9%;
		.pillbottle--left
		{
			display: none;
		}
	}

	.section__explanation 
	{
		// default
		h2
		{
			// font-size: 1.4rem;
		}

		p
		{
		}

		&.explanation--white {
			.explanation__wrapper1
			{
				text-align: center;
			}
			.explanation__wrapper2
			{
				text-align: left;
			}
		}

		&.section--white {
			// white section version
		}
	}

	.pills--top-left
	{
		top: -2%;
	}


	.pills--bottom-right
	{
		top: 45vw;
		right: -7vw;
	}

	.pills--bottom-left
	{
		display: none;
	}
}

@media (min-width: 400px) and (max-width: 799px)
{
	.pillbottles
	{
		max-width: 100%;
		position: relative;
		bottom: 97.6px;
		left: -62.6%;
	}
	.pills--top-left
	{
		top: -2%;
	}

	.pills--top-right
	{
		right: 5%;
	}

	.explanation__wrapper2
	{
		margin-left: 27%;
	}

}

@media (min-width: 800px) and (max-width: 1000px)
{
	.pills--top-left
	{
		top: -6%;
	}
}
