* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (min-width: 0px) {
    html {
      font-size: 30%; } }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }

body {
  background-color: #d2e7e2; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal; }

header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  text-align: center;
  max-width: 75%; }
  header img {
    position: absolute;
    max-width: 20%; }
  header h1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%; }
    header h1 img {
      clear: both;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      min-width: 75%; }

.section__explanation {
  color: #184d66;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
  hyphens: auto; }
  .section__explanation h2 {
    font-size: 2.8rem;
    line-height: 1.5; }
  .section__explanation p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.8rem;
    text-align: left;
    line-height: 1.3; }
  .section__explanation.explanation--white {
    color: #504949;
    background-color: white;
    width: 100%; }
    .section__explanation.explanation--white .explanation__wrapper1 {
      text-align: left;
      padding: 20px 70px; }
    .section__explanation.explanation--white .explanation__wrapper2 {
      max-width: 75%;
      font-size: 1.8rem;
      margin-left: 30%;
      display: flex;
      flex-direction: column;
      text-align: center; }

.pills--top-left {
  left: 17%;
  top: -6%;
  max-width: 10%;
  transform: rotate(45deg); }

.pills--top-right {
  right: 3%;
  top: 0%;
  transform: rotate(13deg);
  max-width: 30%; }

.pills--bottom-left {
  top: 25vw;
  max-width: 15%;
  left: 2vw;
  transform: rotate(5deg); }

.pills--bottom-right {
  top: 35vw;
  right: 3vw;
  max-width: 15%; }

.small-title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #0e5254;
  letter-spacing: 2.8px; }

@media (max-width: 399px) {
  header {
    max-width: 100%; }
  .section__explanation.explanation--white div {
    text-align: center;
    padding: 20px 30px; }
  .pills--top-left {
    top: -2%; }
  .pills--bottom-right {
    top: 45vw;
    right: -7vw; }
  .pills--bottom-left {
    display: none; } }

@media (min-width: 400px) and (max-width: 799px) {
  .pills--top-left {
    top: -2%; }
  .pills--top-right {
    right: 5%; } }

@media (min-width: 800px) and (max-width: 1000px) {
  .pills--top-left {
    top: -6%; } }
